/* CSS Entry Point */

 @import 'font-awesome';

body {
 	background: #ebebeb;
 	margin: 0;
 }

 ul {
 	margin: 0;
 	padding: 0;
 }

 li {
 	list-style: none;
 	padding: 0;
 }

  a {
 	text-decoration: none;
 }

 .app {
 	margin: auto;
 	width: 75%;
 }

// HEADER // HEADER // HEADER // HEADER // HEADER 

header {
	border-bottom: 1px solid #b2b2b2;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

 .logo {
 	display: flex;
 	font-family: 'Poiret One', cursive;
 	font-size: 60px;
 	align-items: center;
 	margin: 0px 0px 6px 0px;
 	vertical-align: middle;
 }

 .social-media {
 	display: flex;
 	align-items: center;
 }

 .social-a {
 	margin: 15px 0px 15px 15px;
 }

 .fa {
 	color: #272822;
 	font-size: 35px;
 	&.fa-facebook-square {
 		&:hover {
 			color: #43609c;
 		}
 	}
 	&.fa-twitter-square {
 		&:hover {
 			color: #5ea9dd;
 		}
 	}
 	&.fa-instagram {
 		&:hover {
 			color: #ad836c;
 		}
 	}
 	&.fa-yelp {
 		&:hover {
 			color: #d03626;
 		}
 	}
 }

.open-table-a {
	margin-left: 15px;
}

.open-table-img {
 	height: 38px;
 }


// MAIN // MAIN // MAIN // MAIN // MAIN

.main {
 }

// MAIN-ABOVE // MAIN-ABOVE // MAIN-ABOVE

.main-above {
 	margin: 20px 0px 20px 0px;
 }

 #gyro {
 	width: 100%;
 }

.blocks {
	font-family: 'Poiret One', cursive;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

 .news-special-map {
 	background: #F7F7F7;
 	border: 1px solid #b2b2b2;
 	display: inline-block;
 	font-family: Arial;
 	font-size: 14px;
 	height: 322px;
 	overflow: scroll;
 	vertical-align: top;
 	width: 300px;
 	.box-header {
 		border-bottom: 1px solid #b2b2b2;
 		font-family: 'Poiret One', cursive;
 		font-size: 30px;
 		margin: 14px auto 0px auto;
 		padding: 0px 0px 8px 0px;
 		width: 90%;
 	}
 }

 .box-content {
    margin: 10px auto 10px auto;
    width: 90%;
 }


 .special-name-price {
 	display: flex;
 	justify-content: space-between;
 }

 #thumbs-up {
 	// background: #fefefc;
 	text-align: center;
 }

#map {
	background-color: #CCC;
    border: 1px solid #b2b2b2;
    height: 200px;
    margin: 10px auto 10px auto;
    width: 90%;
  }

  #atl-phone {
  	display: flex;
  	justify-content: space-between;
  	#blue-phone {
  		font-weight: bold;
  		color: #0077CC;
  	}
  }

// MAIN-BELOW  // MAIN-BELOW  // MAIN-BELOW

 .main-below {
 	display: flex;
 	justify-content: space-between;
 	margin-top: 20px;
 }

// MAIN BELOW LEFT // MAIN BELOW LEFT

.main-below-left {
	display: inline-block;
	width: 60%;
}

.nav {
	font-size: 0px;
}

.nav-btn {
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	margin: 0;
	padding: 5px 10px 5px 10px;
	&.story-btn {
		border-bottom: none;
		border-top: 1px solid #b2b2b2;
		border-left: 1px solid #b2b2b2;
		border-right: 1px solid #b2b2b2;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.story-btn-alt {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #b2b2b2;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.menu-btn {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #b2b2b2;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.menu-btn-alt {
		border-top: 1px solid #b2b2b2;
		border-left: 1px solid #b2b2b2;
		border-right: 1px solid #b2b2b2;
		border-bottom: none;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.reserve-btn {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #b2b2b2;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.reserve-btn-alt {
		border-top: 1px solid #b2b2b2;
		border-left: 1px solid #b2b2b2;
		border-right: 1px solid #b2b2b2;
		border-bottom: none;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.reviews-btn {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #b2b2b2;
		&:hover {
			background: #F7F7F7;
		}
	}
	&.reviews-btn-alt {
		border-top: 1px solid #b2b2b2;
		border-left: 1px solid #b2b2b2;
		border-right: 1px solid #b2b2b2;
		border-bottom: none;
		&:hover {
			background: #F7F7F7;
		}
	}
	&#blank-space {
		border-bottom: 1px solid #b2b2b2;
		height: 2px;
		vertical-align: bottom;
		width: 90px;
	}
}

#story-image {
	border: 2px solid #b2b2b2;
	box-sizing: border-box;
	width: 100%;
}

.reserve-block, .reviews-block {
	font-family: Arial;
	select {
		font-size: 14px;
		height: 25px;
	}
//	input#date-request {
//		font-size: 14px;
//	}
}

#user-full-name, #user-phone, #user-email, #email-subject {
	height: 25px;
	width: 350px;
	margin-bottom: 20px;
	background: #F7F7F7;
 	border: 1px solid #b2b2b2;

}

#num_guests {
	height: 25px;
	width: 75px;
	margin-bottom: 20px;
	background: #F7F7F7;
 	border: 1px solid #b2b2b2;

}

#date-request {
	height: 25px;
	width: 150px;
	margin-bottom: 20px;
	background: #F7F7F7;
 	border: 1px solid #b2b2b2;
 	font-size: 14px;

}


#user-comment {
	height: 250px;
	width: 500px;
	background: #F7F7F7;
 	border: 1px solid #b2b2b2;

}

#user-seat-preference {
	line-height: 25px;
	width: 150px;
	margin-bottom: 20px;
	background: #F7F7F7;
 	border: 1px solid #b2b2b2;

}

//.seats {
//	height: 25px;
//	width: 150px;
//	margin-bottom: 20px;
//	font-size: 14px;
//}

.menu {
	.beer-top {
		display: flex;
		justify-content: space-between;
	}
	.beer-bottom {
		display: flex;
		justify-content: space-between;
	}
	.food-top {
		display: flex;
		justify-content: space-between;
	}
	.game-top {
		display: flex;
		justify-content: space-between;
	}
}

.menu-items {
	font-size: 40px;
}

.beer, .food, .games {
	font-size: 16px;
}



.story-block {
	height: 100%
}
.story-block-alt {
	height: 0;
	overflow: hidden;
}
.menu {
	height: 0;
	overflow: hidden;
}
.menu-alt {
	height: 100%;
}
.reserve-block {
	height: 0;
	overflow: hidden;
}
.reserve-block-alt {
	height: 100%;
}
.reviews-block {
	height: 0;
	overflow: hidden;
}
.reviews-block-alt {
	height: 100%;
}



// MAIN BELOW RIGHT // MAIN BELOW RIGHT

.main-below-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.side-image {
	border: 2px solid #b2b2b2;
	box-sizing: border-box;
	margin: 10px auto 10px auto;
	width: 100%;
}

// FOOTER // FOOTER // FOOTER // FOOTER // FOOTER

 footer {
 	border-top: 1px solid #b2b2b2;
 }

 .copyright {
 	font-family: 'Poiret One', cursive;
 	font-size: 12px;
 	margin: 25px 0px 40px 2px;
 }