/* CSS Entry Point */

 @import 'font-awesome';

<<<<<<< HEAD
 

=======
>>>>>>> 19909fafd57b340478d078501dfc91f0711ff0d8
 body {
 	background: #ebebeb;
 	margin: 0;
 }
<<<<<<< HEAD
 
=======
>>>>>>> 19909fafd57b340478d078501dfc91f0711ff0d8

 ul {
 	margin: 0;
 	padding: 0;
 }

 li {
 	list-style: none;
 	padding: 0;
 }

  a {
 	text-decoration: none;
 }

 .app {
 	margin: auto;
 	width: 75%;
 }

// HEADER // HEADER // HEADER // HEADER // HEADER 

header {
	border-bottom: 1px solid #b2b2b2;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

 .logo {
 	display: flex;
 	font-family: 'Poiret One', cursive;
 	font-size: 60px;
 	align-items: center;
 	margin: 0;
 	vertical-align: middle;
 }

 .social-media {
 	display: flex;
 	align-items: center;
 }

 .social-a {
 	margin: 15px 0px 15px 15px;
 }

 .fa {
 	color: #272822;
 	font-size: 35px;
 	&.fa-facebook-square {
 		&:hover {
 			color: #43609c;
 		}
 	}
 	&.fa-twitter-square {
 		&:hover {
 			color: #5ea9dd;
 		}
 	}
 	&.fa-instagram {
 		&:hover {
 			color: #365985;
 		}
 	}
 	&.fa-yelp {
 		&:hover {
 			color: #d03626;
 		}
 	}
 }


// MAIN // MAIN // MAIN // MAIN // MAIN

.main {
 }

// MAIN-ABOVE // MAIN-ABOVE // MAIN-ABOVE

.main-above {
 	margin: 20px 0px 20px 0px;
 }

 #gyro {
 	width: 100%;
 }

.blocks {
	font-family: 'Poiret One', cursive;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

 .news-special-map {
 	background: #F7F7F7;
 	border: 1px solid #b2b2b2;
 	display: inline-block;
 	height: 400px;
 	vertical-align: top;
 	width: 300px;
 	.box-header {
 		border-bottom: 1px solid #b2b2b2;
 		margin: 14px auto 0px auto;
 		padding: 0px 0px 8px 0px;
 		width: 90%;
 	}
 }

#map {
	background-color: #CCC;
    border: 1px solid #b2b2b2;
    height: 200px;
    margin: 10px auto 10px auto;
    width: 90%;
  }

// MAIN-BELOW  // MAIN-BELOW  // MAIN-BELOW

 .main-below {
 	display: flex;
 	justify-content: space-between;
 	margin-top: 20px;
 }

// MAIN BELOW LEFT // MAIN BELOW LEFT

.main-below-left {
	display: inline-block;
	width: 60%;
}

.nav-btn {
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	margin: 10px 15px 5px 0px;
}

#story-image {
	border: 2px solid #b2b2b2;
	box-sizing: border-box;
	width: 100%;
}

// MAIN BELOW RIGHT // MAIN BELOW RIGHT

.main-below-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.side-image {
	border: 2px solid #b2b2b2;
	box-sizing: border-box;
	margin: 10px auto 10px auto;
	width: 100%;
}

// FOOTER // FOOTER // FOOTER // FOOTER // FOOTER

 footer {
 	border-top: 1px solid #b2b2b2;
 }

 .copyright {
 	font-family: 'Poiret One', cursive;
 	font-size: 12px;
 	margin: 25px 0px 40px 2px;
 }